<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>

<secion class="wrapper">
    <p>Het formulier is bijna klaar.</p>
    <p>Wil je nog wat gegevens wijzigen?</p>
</secion>
<form method="POST" action="/end">
    <button type="submit">Verstuur enquete</button>
</form>
<%- include('includes/footer.ejs') %>