<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>

<secion class="wrapper">
    <p>Bedankt voor je medewerking!</p>
    <p>Het formulier is  succesvol verstuurd</p>

</secion>
<section>
    <a href="/">Ga terug naar begin</a>
</section>

<%- include('includes/footer.ejs') %>
