<%- include('includes/head.ejs') %>

<h1>Enquete Minor Webdesign & Web development</h1>
<form>
    <%- include('includes/intro.ejs') %>
    <%- include('includes/wafs.ejs') %>
</form>
<%- include('includes/footer.ejs') %>